@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Questrial&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 30px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.container {
  width: 300px;
  box-shadow: 0 0 20px -5px #ff6e4d;
  border-radius: 8px;
}

.screen {
  color: #fff;
  padding: 20px;
}

.calculated {
  font-size: 14px;
  margin-bottom: 10px;
}

.sign {
  margin: 0 3px;
}
/* .rightNum {
  display: block;
} */

.keys-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}
.key:hover {
  color: #ff6e4d;
}
.key.function,
.key.delete {
  color: #ff6e4d;
  font-size: 35px;
  border-radius: 5px;
}
.key.function:hover,
.key.equals:hover,
.key.ac:hover,
.key.delete:hover {
  box-shadow: inset 0 0 15px #ff6e4d;
}
.key.ac {
  grid-column: 1 / span 2;
  color: #ff6e4d;
  /* background-color: #ff6e4d; */
  /* color: #fff; */
}

.key.equals {
  grid-column: 3 / span 2;
  color: #ff6e4d;
  /* background-color: #ff6e4d; */
  /* color: #fff; */
}
